* {
    box-sizing: border-box;
  }
body {
    font-family: Spectra;
    padding: 20px;
    background: lavender ;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
    font-family:Ephesis;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
  
  }
  .header img{   

    height:258px;
     width:200px;
    
  }
 
  
  h1{
     color:rgba(77, 37, 114, 0.791);
    font-weight: 400;

    


  }
nav ul{

    width: 100%; /*  */
       list-style-type: none; /* Removes bullets */
       display:inline-flex; /* Makes flex container behave like in-line text block. */
       justify-content: center; /* Centers the navigation bar.*/
       gap:65px; /* Increased spacing between navigation links. */
       font-size: 25px; /* Changes font size to 26px */
       color:rgba(77, 37, 114, 0.791); /* Color of the font. */
       padding: 20px;
    font-family: Spectra;
   
   
   }
   a:hover {
     color: red;
   }
   
   a:visited {
     color: green;
   }
   a{
     color:#3C320E;
   }
   
   /* Create two unequal columns that floats next to each other */
   /* Left column */
   .leftcolumn {   
     float: left;
     width: 75%;
   }
   
   /* Right column */
   .rightcolumn {
     float: left;
     width: 25%;
     padding-left: 20px;
   }
   
   /* Fake image */
   .fakeimg {
     background-color:	#f2e5ff;
     width: 100%;
     padding: 20px;
     margin-top: 20px;
   }
   
   /* Add a card effect for articles */
   .card {
      background-color: white;
      padding: 20px;
      margin-top: 20px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      
   }

   
   
   /* Clear floats after the columns */
   .row:after {
     content: "";
     display: table;
     clear: both;
   }
   
   /* Footer */
   .footer {
     padding: 20px;
     text-align: center;
     background: #ddd;
     margin-top: 20px;
     background-color: rgba(172, 133, 208, 0.76);
    
   }

/* TAGS */

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .90rem;
  }
  
  .tag + .tag {
    margin-left: .5em;
  }
  
  .tag-lav {
    background: #be8fde;
    background: linear-gradient(to bottom, #cf94e6, #db9cf4);
    color: white;
  }

  .tag-pur {
    background: #602f81;
    background: linear-gradient(to bottom, #804497, #d8a7eb);
    color: white;
  }
  /*  POSTS */

  article img {
    opacity:0.9;

    height:450px;
    width:500px;
   margin-left: 250px;
   border: solid 3px;
   border-color: darkslateblue;
   }
  
   section h3{

    text-align: center;
   }
  article section   {

    font-size: 18px;
  }

  article ol {

    font-size: 18px;
  }
/*ABOUT PAGE*/

.about{
    text-align: center; /*Centers image */
    position:relative;/*Positioning of image. Allows for text to be in front of image */
   
}

.about-title{

  position:absolute; /* Lines 195-198 positions contact us text to be infront of image. */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFDFD; /*font color of contact title text */

}
.about-p
{

    padding: 20px;/* adds 20px of space around the container */
    background-color: #FFFDFD; /*text box color */
   
}


/*EVENTS */
.calendar
{

  margin-top: 40px;  
  text-align:  center; /*centers calendar */

}


.elfsight-app-a63e6874-d62a-44ec-aa0e-00d7b5a5b2c2{

    display:block;
    height:auto;
   
    
}

.form-contact input, textarea{


  font-size: 18px;
}
